<html>
	<head>
		{% if title %}
		<title>{{ title }} - microblog</title>
		{% else %}
		<title>microblog</title>
		{% endif %}

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js'></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.min.css" >
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css" >
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>

		
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.14.1/math.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.32.0/handsontable.full.min.css" >
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.32.0/handsontable.full.min.js"></script>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

		<script src="https://use.fontawesome.com/0d40d23629.js"></script>

		<link rel="stylesheet" href="/static/css/style.css" >
		<script src="/static/js/client-app.js"></script>
	</head>
	<body>
	
		<div id="app" class="container-fluid">
		<!-- ko with: capstoneApp-->
			<div class="row" data-bind="css: {'select-noticker': obs_data.selected_ticker() === undefined}">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
					<div class="panel panel-default">
						<div class="panel-body">
							<select id="ticker-picker" class="form-control tickers" placeholder="No Company selected">
							<!-- ko foreach: obs_data.ticker_arr -->
								<option data-bind="text: capstone.utils.tickerTitle($data), value: $data"></option>
							<!-- /ko -->
							</select>
						</div>
					</div>
				</div>
			</div>
			<!-- ROW 1 -->
			<div class="row" data-bind="css: {'hidden': obs_data.selected_ticker() === undefined}">
				<!-- LEFT PLOTTING -->
				<div class="hidden-xs hidden-sm col-md-6 col-md-offset-1 col-lg-7 col-lg-offset-1">
					<div class="panel">
						<div class="panel-heading">
							<div class="col-xs-6">
								<div class="btn-group" role="group">
									<button type="button" class="btn btn-sm" data-bind="click: capstone.events.timeperiod_changed.bind(null, capstone.TIMEPERIODS['ALL']), css: {'btn-primary': ui.isActiveTimePeriod_All(), 'btn-default': !ui.isActiveTimePeriod_All()}">All</button>
									<button type="button" class="btn btn-sm" data-bind="click: capstone.events.timeperiod_changed.bind(null, capstone.TIMEPERIODS['1Y']), css: {'btn-primary': ui.isActiveTimePeriod_1Y(), 'btn-default': !ui.isActiveTimePeriod_1Y()}">1Y</button>
									<button type="button" class="btn btn-sm" data-bind="click: capstone.events.timeperiod_changed.bind(null, capstone.TIMEPERIODS['3M']), css: {'btn-primary': ui.isActiveTimePeriod_3M(), 'btn-default': !ui.isActiveTimePeriod_3M()}">3M</button>
									<button type="button" class="btn btn-sm" data-bind="click: capstone.events.timeperiod_changed.bind(null, capstone.TIMEPERIODS['1M']), css: {'btn-primary': ui.isActiveTimePeriod_1M(), 'btn-default': !ui.isActiveTimePeriod_1M()}">1M</button>
									<button type="button" class="btn btn-sm" data-bind="click: capstone.events.timeperiod_changed.bind(null, capstone.TIMEPERIODS['5D']), css: {'btn-primary': ui.isActiveTimePeriod_5D(), 'btn-default': !ui.isActiveTimePeriod_5D()}">5D</button>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<div id="prices-plot" class="row" style="height: 300px;">
								
							</div>
							<div id="volume-plot" class="row" style="height: 100px;">
								
							</div>
						</div>
					</div>
				</div>
				<!-- RIGTH PREDICTIONS -->
				<div class="col-xs-12 col-md-4 col-lg-3">
					<div class="panel">
						<div class="panel-heading text-center">
							<h4>Forecast Summary</h6>
						</div>
						<div class="panel-body">
							<p class="text-center">Forecasting for:</p>
							<input class="form-control" type="date" data-bind="value: ui.forecastDate, event:{'change': capstone.events.forecastDate_changed}">

							<p class="text-center">Forecasting for: <span data-bind="text: ui.forecastDate"></span></p>



							<table class="table">
								<tr>
									<th></th>
									<th>Forecast</th>
									<th>Real</th>
								</tr>
								<tr>
									<th>1 Day</th>
									<td data-bind="text: ui.forecast_1" style="font-size: small;"></td>
									<td data-bind="text: ui.real_1" style="font-size: small;"></td>
								</tr>
								<tr>
									<th>30 Days</th>
									<td data-bind="text: ui.forecast_30" style="font-size: small;"></td>
									<td data-bind="text: ui.real_30" style="font-size: small;"></td>
								</tr>
								<tr>
									<th>60 Days</th>
									<td data-bind="text: ui.forecast_60" style="font-size: small;"></td>
									<td data-bind="text: ui.real_60" style="font-size: small;"></td>
								</tr>
							</table>

							<blockquote class="blockquote-reverse">
								<p style="font-size: small;">1 Day - <span data-bind="text: ui.forecastDate_1"></span></p>
								<p style="font-size: small;">30 Day - <span data-bind="text: ui.forecastDate_30"></span></p>
								<p style="font-size: small;">60 Day - <span data-bind="text: ui.forecastDate_60"></span></p>
							</blockquote>

						</div>
						<div class="panel-footer text-right">
							<a href="https://github.com/pjsousa/FintechCapstone" target="_blank" style="font-size: x-large"><i class="fa fa-github" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- ROW 2 -->
			<div class="row hidden-xs hidden-sm hidden-md hidden-lg" data-bind="css: {'hidden': obs_data.selected_ticker() === undefined}">
				<div class="hidden-xs hidden-sm hidden-md col-lg-6">
					<div class="panel">
						<div class="panel-heading text-center">
							<h4>Prices Data</h4>
						</div>
						<div class="panel-body">
							<div id="prices-grid" class="row" style="height: 300px; width:98%; overflow: auto;">
								
							</div>
						</div>
					</div>
				</div>
				<div class="hidden-xs hidden-sm hidden-md col-lg-6">
					<div class="panel">
						<div class="panel-heading text-center">
							<h4>Forecasts Data</h4>
						</div>
						<div class="panel-body">
							<div id="predictions-grid" class="row" style="height: 300px; width:98%; overflow: auto;">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- /ko -->
		</div>
		{% block content %}{% endblock %}
		<script type="text/javascript">
			$(document).ready(function(){
				_capstoneApp = new capstone.App();
				window.capstoneApp = _capstoneApp;

				ko.applyBindings(_capstoneApp);
			});
		</script>

	</body>
</html>
