<html>
	<head>
		{% if title %}
		<title>{{ title }} - microblog</title>
		{% else %}
		<title>microblog</title>
		{% endif %}

		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js'></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>

		
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.14.1/math.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>


		<link rel="stylesheet" href="/static/css/style.css" />
		<script src="/static/js/client-app.js"></script>
	</head>
	<body>
	
		<div id="app" class="container">
		<!-- ko with: capstoneApp-->
			<div class="row">
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<select id="ticker-picker" class="form-control tickers" placeholder="Select a company's ticker">
							<!-- ko foreach: obs_data.ticker_arr -->
								<option data-bind="text: capstone.utils.tickerTitle($data), value: $data"></option>
							<!-- /ko -->
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="panel">
						<div class="panel-heading">
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default">All</button>
								<button type="button" class="btn btn-default">1Y</button>
								<button type="button" class="btn btn-default">3M</button>
								<button type="button" class="btn btn-default">1M</button>
								<button type="button" class="btn btn-default">5D</button>
							</div>
						</div>
						<div id="prices-plot" class="panel-body" style="height: 300px;">
							
						</div>
					</div>
				</div>
			</div>
		<!-- /ko -->
		</div>
		{% block content %}{% endblock %}
		<script type="text/javascript">
			$(document).ready(function(){
				_capstoneApp = new capstone.App();
				window.capstoneApp = _capstoneApp;

				ko.applyBindings(_capstoneApp);
			});
		</script>

	</body>
</html>
